html, body, .App, #root, #app, #app>div {
  height: 100%;
  width: 100%;
  margin:0;
  background-color: #282a36;
}

p {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
}